<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Movie Logo" src="../favicon.ico" />
  <span>Welcome to Movies & More!, Search for any Movie or Tv show.</span>
</div>

<div class="content" role="main">
  <!-- Search Bar -->
  <div class="search">
    <label>
      <input
        type="text"
        placeholder="Search for a movie, tv show......"
        [(ngModel)]="input"
      />
    </label>
    <button (click)="search()">Search</button>
  </div>

  <router-outlet></router-outlet>
</div>
