<!-- <div *ngIf="response">
  <div>
    <p *ngFor="let responseData of this.response.results">
      Film Title: {{ responseData.original_title }}
    </p>
  </div>
</div> -->

<div class="card" style="width: 18rem">
  <img
    class="card-img"
    src="https://www.themoviedb.org/t/p/w94_and_h141_bestv2/ww1eIoywghjoMzRLRIcbJLuKnJH.jpg
  "
    alt="Card image"
  />
  <div class="card-body">
    <H5>Film Title: jack black</H5>
    <p class="card-text">
      Film info: Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book.
    </p>
  </div>
</div>
